{
  "app" : {
    "name" : "appname",
    "env" : "local",
    "url" : "example.com"
  },
  "database" : {
    "connection" : "mysql",
    "host" : "127.0.0.1",
    "port" : "3306",
    "database" : "dbname",
    "username" : "username",
    "password" : "secret"
  },
  "mail" : {
    "driver" : "smtp",
    "host" : "smtp.mailtrap.io",
    "port" : "2525",
    "username" : null,
    "password" : null,
    "encryption" : null
  }
}