{
  "app" : {
    "name" : "appname",
    "url" : "example.com",
    "env" : "local"
  },
  "database" : {
    "connection" : "mysql",
    "host" : "127.0.0.1",
    "port" : "3306",
    "database" : "dbname",
    "username" : "username",
    "password" : "secret"
  },
  "mail" : {
    "name" : "Jan Novak",
    "username" : "novakj"
  }
}