{% extends "layouts/app.twig" %}

{% block content %}

    {% if heading is defined %}
        <h1>{{ heading }}</h1>
    {% endif %}

    {% if messages is defined %}
        {% for message in messages %}
            <p class="lead text-center m-5">{{ message }}</p>
        {% endfor %}
    {% endif %}

{% endblock %}