{% extends "layouts/base.twig" %}

{% block body %}

    {% if heading is defined %}
        <h1>{{ heading }}</h1>
    {% endif %}

    {% if messages is defined and messages is iterable %}

        {% for message in messages %}

            {% if message is iterable %}

                {% for m in message %}
                    <p class="lead text-center m-5">{{ m }}</p>
                {% endfor %}

            {% else %}

                <p class="lead text-center m-5">{{ message }}</p>

            {% endif %}

        {% endfor %}

    {% elseif messages is defined %}

        <p class="lead text-center m-5">{{ messages }}</p>

    {% endif %}

{% endblock %}