
@import "~bootstrap/scss/bootstrap";

@import "~font-awesome/scss/font-awesome";

@import "_variables.scss";

#nav-logo {
  height: 30px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
}
.grey-bg {
  background: grey;
}
* {
  box-sizing: border-box;
}